/* Basic styles */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav { 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(10px);
}

.nav li {
    list-style: none;
    font-size: 30px;
    padding-left: 20px;
}

.first-nav li h1 {
    color: white;
    font-size: 40px;
}

.sec-nav, .third-nav {
    display: flex;
    gap: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease;
}

.nav a:hover {
    color: red;
}

.search-button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.search-icon img {
    width: 30px;
    margin-top: 10px;
}

.desktop-nav {
    display: flex;
}

.smaller-nav {
    display: none;
}


@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .smaller-nav {
        display: flex;
    }
    
    .nav {
        padding: 20px;
        height: 60px;
        align-items: center;
    }

    .nav li {
        font-size: 24px;
        padding: 10px 0;
    }

    .nav li h1 {
        font-size: 30px;
        color: white;
    }

    .sec-nav, .third-nav {
        flex-direction: column; 
        gap: 5px;
    }

    .nav a {
        font-size: 16px;
    }

    .search-button img {
        width: 25px;
    }
}

@media (max-width: 480px) {
    .nav {
        padding: 10px;
        align-items: center;
        height: 50px;
        margin-top: -10px;
    }

    .nav li a{
        font-size: 10px;
    }

    .nav li h1 {
        font-size: 15px;
        color: white;
        margin-top: 6px;
    }

    .nav a {
        font-size: 14px;
    }

    .search-icon img {
        width: 20px;
    }
}
